urllib3<2.0
AnilistPython==0.1.3
aiohttp
flask
lxml_html_clean
aioshutil
aiofiles
anitopy
schedule
apscheduler
dnspython
motor
feedparser
psutil
pycountry
pymongo
pyrofork==2.3.45
pyromod==1.5
python-dotenv
tgcrypto
html-telegraph-poster
uvloop==0.21.0
torrentp
ffmpeg
asyncio
pytz
requests
bs4
static-ffmpeg
